# Xcode
build/
DerivedData/
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Xcode User Data
xcuserdata/
*.xcuserdatad

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
iOSInjectionProject/

# Build Artifacts
*.ipa
*.zip
Payload/

# macOS / OS
.DS_Store
*.swp
*~
